{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image" href="../static/img/Eqz7Dy-travel-world-transparent-logo.png">
     <link rel="stylesheet" href="{% static 'css/register.css' %}">

    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>

 <div class="form-container" id="container">
        <div class="fluid-container">
            <img src="../static/img/fluid.svg" class="fluid-1" id="blob">
            <br><br><br>
            <div class="top-icons">
                <i class='bx bx-log-in-circle' id="loginIcon"></i>
                <i class="bx bx-user-plus icon-2" id="regIcon"></i>
            </div>
            <div class="form-title">
                <span id="titleText">Welcome <br> Back</span>
            </div>
        </div>

        <div class="form-content" id="loginForm">
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Email" required>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Password" required>
            </div>
            <button class="input-submit">
                <span>Sign In</span> <i class="bx bx-right-arrow-alt"></i>
            </button>
            <div class="form-bottom-Links">
                <a href="#" onclick="showRegister()">Sign Up</a>
                <a href="#">Forgot Password?</a>
            </div>
        </div>

        <div class="form-content" id="registerForm" style="display: none;">
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Full Name" required>
            </div>
            <div class="input-box">
                <input type="email" class="input-field" placeholder="Email" required>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Password" required>
            </div>
            <button class="input-submit">
                <span>Register</span> <i class="bx bx-check"></i>
            </button>
            <div class="form-bottom-Links">
                <a href="javascript:void(0)" onclick="showLogin()">Already have an account?</a>
            </div>
        </div>
    </div>


<!-- Footer -->

 <footer class="footer">
    <div class="foot">
        <div class="footer-content">
          <div class="footlinks">
    <h4>subscribe</h4>
    <p class="Lead">
        Don't miss your next adventure! Subscribe for the best travel tips and hidden gems.
    </p>
    <form action="#">
        <input type="email" placeholder="Email Address"> 
        <button type="button" class="button">Send</button>
    </form>
</div>
            
            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
           

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://www.instagram.com/lalainfatima4" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://www.linkedin.com/in/lalain-fatima/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <a href="https://github.com/lalainfatima237" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="end">
        <p>Copyright © 2025 SEE THE WORLD All Rights Reserved.<br>Website developed by: lalain Fatima</p>
    </div>
</footer>

<!-- Javascript -->
<script>

const loginForm = document.getElementById('loginForm');
const registerForm = document.getElementById('registerForm');
const blob = document.getElementById('fluid'); 
const titleText = document.getElementById('titleText');


function showRegister() {
    
    loginForm.style.display = "none";
    registerForm.style.display = "block";
    
   
    blob.style.transform = "translateX(20px) rotate(15deg) scale(1.1)";
    blob.style.filter = "hue-rotate(45deg)"; 
    
  
    titleText.innerHTML = "Create <br> Account";
}


function showLogin() {
    
    registerForm.style.display = "none";
    loginForm.style.display = "block";
    
   
    blob.style.transform = "translateX(0) rotate(0deg) scale(1)";
    blob.style.filter = "hue-rotate(0deg)";
    
   
    titleText.innerHTML = "Welcome <br> Back";
}
function validateform(){ 
        var tel=document.getElementById("phonenum").value;  

        if(tel.length<10){  
            alert("Phone number must be of atleast 10 digits!");  
            return false;  
        } else if(isNaN(tel)){
            alert("Phone number should not include character!");
            return false;
        }
        return true;
}  
</script>

</body>
</html>
